.home,
.contact,
.service,
.about {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}
.contact,
.service,
.about {
  height: 50vh;
}
.my-row {
  height: 80vh;
}
.my-row h1 {
  color: #222222;
  font-size: 48px;
  font-weight: 700;
}
.my-row p {
  color: #222222;
  font-size: 18px;
  font-weight: 500;
}
.price {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: crimson;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
}
.fa-star-o {
  color: green;
}

@media (max-width: 576px) {
  .my-row h1 {
    font-size: 28px;
    font-weight: 600;
  }
  .my-row p {
    font-size: 16px;
    font-weight: 500;
  }
}
